<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Product</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="">

  <% if ((error && error.length > 0) || (success && success.length > 0)) { %>
  <div id="flash-message" class="<%= error && error.length > 0 ? 'bg-red-500' : 'bg-green-500' %> z-[99999] px-4 py-2 text-center rounded-md text-white absolute top-3 left-1/2 -translate-x-1/2">
    <% (error && error.length > 0 ? error : success).forEach(function(message) { %>
    <h1>
      <%= message %>
    </h1>
    <% }); %>
  </div>
  <% } %>
  <!-- Navbar -->
  <nav class="w-full bg-white fixed top-0 left-0 flex justify-between px-5 md:px-10 py-3 border-b-2 border-gray-500">
    <h1 class="text-2xl font-bold capitalize">admin Panel</h1>
    <div class="links flex items-center gap-5 whitespace-nowrap">
      <a href="#" class="hover:underline hover:text-blue-600 hidden md:block">My account</a>
      <a href="/users/logout" class="block px-4 py-2 text-sm font-medium rounded-md text-white bg-red-500 hover:bg-red-600">Logout</a>
    </div>
  </nav>

  <!-- Sidebar and Content Wrapper -->
  <main class="container pt-[10vh] mt-8 flex flex-wrap md:flex-nowrap">

    <!-- Sidebar -->
    <div class="w-full lg:w-1/4 mb-8 px-5 md:px-10 py-8 border-r lg:mb-0">
      <div class="rounded-lg">
        <h2 class="text-xl font-semibold mb-4"><a href="/shop">All Products</a></h2>
        <ul>
          <li class="text-blue-500"><a href="#">Create New Product</a></li>
        </ul>
      </div>
    </div>

    <!-- Content -->
    <div class="w-full h-full lg:w-3/4">
      <div class="bg-white rounded-lg p-6">
        <h2 class="text-xl font-semibold mb-3 pb-3 border-b-2 border-blue-500">Create New Product</h2>

        <!-- Product Details Form -->
        <form method="post" action="/products/create" enctype="multipart/form-data" class="space-y-5 mt-10">
          <h3 class="text-lg border-b w-fit font-semibold mb-4">Product Details</h3>
          <div id="image" class="flex md:w-[60%] md:items-center md:justify-between flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-3">
            <label class="text-gray-700 font-medium">Product Image</label>
            <input required type="file" name="image" class="py-2 md:py-0 w-fit rounded-md bg-white text-gray-700 file:mr-2 file:py-1 file:px-4 file:rounded-full file:border-0 file:bg-blue-500 file:text-white file:hover:cursor-pointer">
          </div>

          <div class="text-details w-2/3 space-y-4">
            <div class="flex-1 w-full">
              <input required type="text" name="name" class="border bg-gray-100 outline-none1 rounded p-2 w-full placeholder:text-gray-500" placeholder="Product Name">
            </div>
            <div class="flex space-x-4">
              <div class="flex-1">
                <input required type="number" name="price" class="border bg-gray-100 outline-none1 rounded p-2 w-full placeholder:text-gray-500" placeholder="Original Price">
              </div>
              <div class="flex-1">
                <input required type="number" name="discount" class="border bg-gray-100 outline-none1 rounded p-2 w-full placeholder:text-gray-500" placeholder="Discounted Price">
              </div>
            </div>
          </div>
          <input type="submit" value="Create New Product" class="text-lg px-10 py-2 rounded-md text-white bg-green-500 hover:bg-green-600">

          <!-- Panel Details
                    <div class="mt-8">
                        
                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                            <div>
                                <label class="text-gray-700">Background Color</label>
                                <input type="text" class="border bg-gray-100 outline-none1 rounded p-2 w-full">
                            </div>
                            <div>
                                <label class="text-gray-700">Panel Color</label>
                                <input type="text" class="border bg-gray-100 outline-none1 rounded p-2 w-full">
                            </div>
                            <div>
                                <label class="text-gray-700">Text Color</label>
                                <input type="text" class="border bg-gray-100 outline-none1 rounded p-2 w-full">
                            </div>
                        </div>
                    </div> -->
        </form>
      </div>
    </div>

  </main>
  <script src="/javascripts/script.js"></script>
</body>

</html>